<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
<session-factory>  
    <property name="connection.url">  
        jdbc:mysql://localhost:3306/test  
    </property>  
    <property name="connection.username">root</property>  
    <property name="connection.password">root</property>  
    <property name="connection.driver_class">  
        com.mysql.jdbc.Driver  
    </property>  
    <property name="dialect">  
        org.hibernate.dialect.MySQLDialect  
    </property>  
    <property name="show_sql">true</property>  
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <property name="hibernate.hbm2ddl.auto">update</property> 
        
    <!-- xml配置文件生效方式 -->  
    <!--<mapping resource="com/weiwei/learnDemo/student.hbm.xml" />-->  
    <!-- 注解生效方式生效方式 -->  
    <!-- <mapping class="com.cf.hibernate.entity.Student" />
    <mapping class="com.cf.hibernate.entity.Heart" /> 
    <mapping class="com.cf.hibernate.entity.Body" /> -->
    
    <!-- one2one 开始 -->
    <!-- 合并成一个表 -->
    <!-- <mapping class="com.cf.hibernate.entity.one2one.inonetable.Employee" /> 
    <mapping class="com.cf.hibernate.entity.one2one.inonetable.Address" /> -->
    
    <!-- 外键关联 -->
    <!-- <mapping class="com.cf.hibernate.entity.one2one.foreignkey.Employee" /> 
    <mapping class="com.cf.hibernate.entity.one2one.foreignkey.Address" /> -->
    
    <!-- 单独的映射表 -->
    <!-- <mapping class="com.cf.hibernate.entity.one2one.jointable.Employee" /> 
    <mapping class="com.cf.hibernate.entity.one2one.jointable.Address" /> -->
    <!-- one2one 结束 -->
    
    <!-- many2one begin-->
    <!-- <mapping class="com.cf.hibernate.entity.many2one.Employee" /> 
    <mapping class="com.cf.hibernate.entity.many2one.Department" /> -->
    
    <!-- join table -->
    <!-- <mapping class="com.cf.hibernate.entity.many2one.jointable.Employee" /> 
    <mapping class="com.cf.hibernate.entity.many2one.jointable.Department" /> -->
    <!-- many2one end-->
    
    <!-- one2many begin-->
    <!-- <mapping class="com.cf.hibernate.entity.one2many.Employee" /> 
    <mapping class="com.cf.hibernate.entity.one2many.Department" /> -->
    
    <!-- join table -->
    <!-- <mapping class="com.cf.hibernate.entity.one2many.jointable.Employee" /> 
    <mapping class="com.cf.hibernate.entity.one2many.jointable.Department" /> -->
    <!-- one2many end-->
    
    <!-- doubleone2many begin-->
    <mapping class="com.cf.hibernate.entity.one2many.doubleone2many.ClassRoom" /> 
    <mapping class="com.cf.hibernate.entity.one2many.doubleone2many.Student" />
    <!-- doubleone2many end-->

    
        
</session-factory>  
</hibernate-configuration>  